<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Welcom to gamerpath</title>
    <link rel="stylesheet" href="../../assets/styling.css">
    <link rel="stylesheet" href="../../assets/cyborg.css">
</head>
<meta charset="ISO-8859-1">
<title>Login/SignUp</title>

<body>
    <h1  style="margin-top: 10%;margin-bottom: 3%;" class="text-info welcome">
    Welcome to Gamer Path
    </h1>
    <button style="margin: auto;display: block" routerLink="/homepage"  type="button" class="btn btn-lg btn-outline-warning">GET IN</button>
</body>

</html>