.welcome{
    font-family: Big Noodle Too,impact,sans-serif;
    font-size: 60px;
    font-style: italic;
    color: white;
    font-weight: 400;
    font-variant: normal;
    text-align: center;
    line-height: normal;
    letter-spacing: .5px;
}